.LoanItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.LoanItem a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
}

.LoanItem a:hover, 
.LoanItem a:active,
.LoanItem a.active {
    color: #40A4C8;
}
