.LoanCalculator {
    margin: 20px auto;
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

@media(min-width: 700px) {
    .LoanCalculator {
        width: 600px;
    }
}